<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228081019803-sdminqse5v3hhqofof6bgc0cciba9363.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228081019803-sdminqse5v3hhqofof6bgc0cciba9363</string>
	<key>API_KEY</key>
	<string>AIzaSyAi4jwjMyxZ5vmjxXr6TND4GxrHVNazapQ</string>
	<key>GCM_SENDER_ID</key>
	<string>228081019803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derwinstudio.golforbit</string>
	<key>PROJECT_ID</key>
	<string>golf-orbit-13199621</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-orbit-13199621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228081019803:ios:a63d034052f69107</string>
	<key>DATABASE_URL</key>
	<string>https://golf-orbit-13199621.firebaseio.com</string>
</dict>
</plist>